---
import '../styles/global.css';
import { BreaklineApp } from '../components/breakline/BreaklineApp';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>MFALANA | LiDAR Breakline Generator</title>
  </head>
  <body>
    <BreaklineApp client:load />
  </body>
</html>
